header {
  display: flex;
  max-height: 100px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  .h_tags {
    width: 30%;
    display: inherit;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  h1,
  h4 {
    margin: 5px 20px;
  }
}
